<div style="margin-bottom: 50px;" class="logo-margin-bottom">
    <div class="loginheader">
        <img src="../../assets/images/images/SalesDrive.png" alt="" height="40" width="148">
    </div>
    <div class="card">
        <div class="card-header text-left card-backgrodcolr">
            Why do I need to create an account?
        </div>
    </div>
    <div class="organize">
        <h5>ORGANIZE YOUR LIFE IN SECONDS</h5>
        <P>see how millions of people rely on Salesdrive to stay organized get more done</P>
        <!-- <span>stay organized get more done</span> -->
    </div>
</div>
<div class=" container login-boday" style="margin-bottom: 50px;">
    <div class="row login-btns google-size">
        <div class="col-2 padding-none">
            <img src="../../assets/images/login/google.png" height="25" width="30" alt="google"
                class="google-imag-padding">
        </div>
        <div class="col-8 padding-none">
            <h5 class="margin-none font-style-ph">Continue with Google</h5>
            <p class="margin-none font-style-sh">Secured log-in</p>
        </div>
        <div class="col-2 padding-arrow">
            <img src="../../assets/images/login/right-arrow.png" class="img-arrow-top" height="30" width="30">
        </div>
    </div>
    <div class="row login-btns facebook-size">
        <div class="col-2 padding-none">
            <img src="../../assets/images/login/facebook.png" class="fb-imag-padding" height="30" width="30"
                alt="google">
        </div>
        <div class="col-8 padding-none-fbcontent">
            <p class="facebook-p">Continue with Facebook</p>
            <p class="facebook-subp">We'll never post on your behalf</p>
        </div>
        <div class="col-2 padding-arrow">
            <img src="../../assets/images/login/right-arrow.png" class="img-arrow-top" height="30" width="30">
        </div>
    </div>
    <div class="row login-btns email-size">
        <div class="col-2 padding-none">
            <img src="../../assets/images/login/email.png" class="Email-imag-padding" height="30" width="30"
                alt="google">
        </div>
        <div class="col-8 padding-none-emailcontent">
            <h5 class="margin-none facebook-p">Continue with Email</h5>
        </div>
        <div class="col-2 padding-arrow">
            <img src="../../assets/images/login/right-arrow.png" class="img-arrow-top" height="30" width="30">
        </div>
    </div>
</div>
<div class="loginfooter">
    <p class="loginfooter-p1">By using <span class="LoginFooter-span">Salesdrive</span> you accept
        our <span class="LoginFooter-span">Terms of Use</span> and </p>
    <p class="LoginFooter-span">Privacy Policy</p>
</div>
<!-- By using Salesdrive you accept our Terms of Use Privacy Policy -->

<!-- 

<div class="logo-margin-bottom">
	<div class="loginheader">
		<img src="./assets/Login/SalesDrive.png" alt="SalesDrive" id="iugqi" class="Image-log-drive">
	</div>
	<div class="card">
		<div class="card-header text-left card-backgrodcolr">
			Why do I need to create an account?
		</div>
	</div>
	<div class="organize">
		<h5>ORGANIZE YOUR LIFE IN SECONDS</h5>
		<p>see how millions of peopele rely on Salesdrive to stay organized get more done</p>
	</div>
</div>
<div class="container login-boday">
	<div class="row login-btns google-size">
		<div class="col-2 padding-none">
			<img src="./assets/Login/google.png" height="30" width="30" alt="google" class="google-imag-padding">
		</div>
		<div class="col-8 padding-none">
			<h5 class="margin-none font-style-ph">Continue with Google</h5>
			<p class="margin-none font-style-sh">Secured log-in</p>
		</div>
		<div class="col-2 arrow-class">
			<img src="./assets/Login/right-arrow.png" height="30" width="30" class="img-arrow-top">
		</div>
	</div>
	<div class="row login-btns facebook-size">
		<div class="col-2 padding-none">
			<img src="./assets/Login/facebook.png" height="30" width="30" alt="google" class="fb-imag-padding">
		</div>
		<div class="col-8 padding-none-fbcontent">
			<p class="facebook-p">Continue with Facebook</p>
			<p class="facebook-subp">We'll never post on your behalf</p>
		</div>
		<div class="col-2 arrow-class">
			<img src="./assets/Login/right-arrow.png" height="30" width="30" class="img-arrow-top">
		</div>
	</div>
	<div class="row login-btns email-size">
		<div class="col-2 padding-none">
			<img src="./assets/Login/email.png" height="30" width="30" alt="google" class="Email-imag-padding">
		</div>
		<div class="col-8 padding-none-emailcontent">
			<h5 class="margin-none facebook-p">Continue with Email</h5>
		</div>
		<div class="col-2 arrow-class">
			<img src="./assets/Login/right-arrow.png" height="30" width="30" class="img-arrow-top">
		</div>
	</div>
</div>
<div class="loginfooter">
	<p class="loginfooter-p1">By using
		<span class="LoginFooter-span">Salesdrive</span> you accept our	
		<span class="LoginFooter-span">Terms of Use</span> and
	</p>
	<p class="LoginFooter-span">Privacy Policy</p>
</div> -->
