<div>
    <div class="loginheader">
        <img src="../../assets/images/profile.png" alt="" height="40" width="40">
        <a> SalesDrive</a>
    </div>
    <div class="card">
        <div class="card-header text-left card-backgrodcolr">
            Why do I need to create an account?  
        </div>
    </div>
    <div class="organize">
        <h5>ORGANIZE YOUR LIFE IN SECONDS</h5>
        <P>see how millions of peopele rely on Salesdrive to stay organized get more done</P>
    </div>
</div>
<div class=" container login-boday">
    <div class="row login-btns google-size">
        <div class="col-2 adding-none">
            <img src="../../assets/images/login/google.jpg" height="30" width="30" alt="google">
        </div>
        <div class="col-8">
            <h5 class="margin-none font-style-ph">Continue with Google</h5>
            <p class="margin-none font-style-sh">Secured log-in</p>
        </div>
        <div class="col-2">
            <img src="../../assets/images/login/right-arrow.png" height="30" width="30">
        </div>
    </div>
    <div class="row login-btns facebook-size">
        <div class="col-2 adding-none">
            <img src="../../assets/images/login/facebook.png" height="30" width="30" alt="google">
        </div>
        <div class="col-8">
            <p class="facebook-p">Continue with Facebook</p>
            <p class="facebook-subp">We'll never post on your behalf</p>
        </div>
        <div class="col-2">
            <img src="../../assets/images/login/right-arrow.png" height="30" width="30">
        </div>
    </div>
    <div class="row login-btns email-size">
        <div class="col-2 adding-none">
            <img src="../../assets/images/login/email.png" height="30" width="30" alt="google">
        </div>
        <div class="col-8">
            <h5 class="margin-none facebook-p">Continue with Email</h5>
        </div>
        <div class="col-2">
            <img src="../../assets/images/login/right-arrow.png" height="30" width="30">
        </div>
    </div>
</div>

<div class="loginfooter">
    <p class="loginfooter-p1">By using <span class="LoginFooter-span">Salesdrive</span> you accept our <span
            class="LoginFooter-span">Terms of Use</span> and </p>
    <p class="LoginFooter-span">Privacy Policy</p>
</div>


