<div class=" container Main-header" style="background-color: antiquewhite;">
    <ul class="nav">
        <li class="menubar">
            <a class="Profile-head"> <img src="../../assets/images/Menubar.png" height="45" width="55"></a>
        </li>
        <li class="salesdrivelog">
            <img src="../../assets/images/logo.png" height="50" width="55">
            <a style="padding-left: 7px;">SalesDrive</a>
        </li>
        <li style="float: right;">
            <a class="notification">
                <img src="../../assets/images/notification.png" height="45" width="55" alt="">
                <span class="badge">3</span></a>
        </li>
        <li style="float: right;">
            <a class="Profile-head"> <img src="../../assets/images/profile.png" height="45" width="55"></a>
        </li>
    </ul>
</div>






<!-- 

<div class="container header justify-content-center">
    <a  class="logo">CompanyLogo</a>
    <div class="header-right">
      <a  class="notification"> 
          <img src="../../assets/images/notification.png" height="45" width="55" alt="">
        <span class="badge">3</span></a>
      <a class="Profile-head"> <img src="../../assets/images/profile.png" height="45" width="55" class="img-responsive" alt=""></a>
    </div>
  </div> -->