<div class=" container Main-header" style="background-color: antiquewhite;">
    <ul class="nav">
        <li class="menubar">
            <a class="Profile-head"> <img src="../../assets/images/Menubar.png" height="45" width="55"></a>
        </li>
        <li class="salesdrivelog">
            <img src="../../assets/images/logo.png" height="50" width="55">
            <a style="padding-left: 7px;">SalesDrive</a>
        </li>
        <li style="float: right;">
            <a class="notification">
                <img src="../../assets/images/Notifications.png" height="45" width="55" alt="">
                <span class="badge">3</span></a>
        </li>
        <li style="float: right;">
            <a class="Profile-head"> <img src="../../assets/images/profile.png" height="45" width="55"></a>
        </li>
    </ul>
</div>






<div class="container  fixed-bottom" id="cl"  >
    <div class="row">
      <div class="col-3">
        <div>
         <img src="../../assets/images/profile.png" class="img-fluid" height="30" width="30" alt="">
        <p>contact</p>
      </div>
      </div>
      <div class="col-3">bbbb
        <span>&times;</span></div>
      <div class="col-3">
        ccc
        <span>&times;</span>
      </div>
    </div>
  </div>





