<!-- <div class="container">
  <div class="row main-button-head">
    <button type="button" class="col-2.5 col-sm-2.5	btn btn-light badge-allheader btn-focus button-border-all">
      <img src="../../assets/images/Contacts/Group 91282x.png" alt="">
      <span class="badge-text-right">All</span>
      <span class="badge-all">3</span>
    </button>
    <button type="button" class="col-2.5 col-sm-2.5 btn btn-light badge-allheader button-border-phone">
      <img src="../../assets/images/Contacts/Group 91292x.png" class="rounded" style="background: aliceblue">
      <span class="badge-text">Phone</span>
      <span class="badge-phone">3</span>
    </button>
    <button type="button" class="col-2.5 col-sm-2.5 btn btn-light badge-allheader button-border-gmail">
      <img src="../../assets/images/Contacts/Group 91272x.png" alt="">
      <span class="badge-text">Gmail</span>
      <span class="badge-gmail">3</span>
    </button>
    <button type="button" class="col-2.5 col-sm-2.5 btn btn-light badge-allheader button-border-outlook">
      <img src="../../assets/images/Contacts/Group 91262x.png" alt="">
      <span class="badge-text">Outlook</span>
      <span class="badge-outlook">3</span>
    </button>
  </div>
</div> -->

<div class="main-button-head container">
  <div class="buttone-4">
    <button type="button" class="btn btn-light badge-allheader btn-focus button-border-all">
      <img src="../../assets/images/Contacts/Group 91282x.png" alt="">
      <span class="badge-text-right">All</span>
      <span class="badge-all">3</span>
    </button>
  </div>
  <div class="buttone-4">
    <button type="button" class="btn btn-light badge-allheader button-border-phone">
      <img src="../../assets/images/Contacts/Group 91292x.png" class="rounded" style="background: aliceblue">
      <span class="badge-text">Phone</span>
      <span class="badge-phone">3</span>
    </button>
  </div>
  <div class="buttone-4">
    <button type="button" class="btn btn-light badge-allheader button-border-gmail">
      <img src="../../assets/images/Contacts/Group 91272x.png" alt="">
      <span class="badge-text">Gmail</span>
      <span class="badge-gmail">3</span>
    </button>
  </div>
  <div class="buttone-4">
    <button type="button" class="btn btn-light badge-allheader button-border-outlook">
      <img src="../../assets/images/Contacts/Group 91262x.png" alt="">
      <span class="badge-text">Outlook</span>
      <span class="badge-outlook">3</span>
    </button>
  </div>
</div>


<div>
  <input type="text" name="" id="" placeholder="I want to ....." class="inpuboxxxx">
  <a href="" style="background: #23B1A9;
  border-radius: 10px 10px 10px 10px;
  border: 1px gray;
  padding: 6px;"> <img src="../../assets/images/Search _ add Function/search.png" alt="" height="30" width="15"></a>
 
  <img src="../../assets/images/Search _ add Function/addbutton.png" alt="" style="border: 1px gray;
  background: #F7F7F7;
  border-radius: 10px 10px 10px 10px;">
</div>