/* Header css start */
.Main-header{
    border-bottom: 1px solid #ced4da;
    width: 100%;
    /* margin-left: 4px; */
    box-shadow: 0px 1px #ced4da;
    padding-left: 0px;
    padding-right: 0px;

}

.notification {
    /* background-color: #555; */
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;

  }
  .notification .badge {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 1px 1px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
  .Profile-head{
    margin-right: 65px;

  }

.menubar{
    border-right: 1px solid #ced4da;
}
.salesdrivelog{
    margin-left: 19px;
}

/* Header css end */

.task-width{
width: 40%;
border: 1px solid #dee2e6;
border-left: none;
    border-radius:  27px  0 0 27px;
    background-color: #152F38;
    color: white;
    border-right-width: 0px;
    margin-left: 36px;
}
.calender-width{
    width: 40%;
    border: 1px solid #00000051;
    border-radius: 0 27px 27px 0;
    background-color: #FFFFFF;
}
.task-image{
    margin-left: 45px;
    padding-right: 10px;


}
.calender-image{
    margin-left: 36px;
    padding-right: 10px;
}
.task-calender{
    background-color: #23B1A9;
    padding: 8px;
}

.event-showing{
    font-weight: 600;
    margin: 0;
    font-family: Roboto;
    font-size: 12pt;
    color: #1E9690;
}
.event-showsub{
    font-size: 11px;
    margin: 0;
    color: #919699;
}

.setting-img{
    margin-left: 97px;
}
.setting-img-head{
    padding-right: 0;
}


/* my studio css */

/* .scroll-y-list{
    overflow-y: auto;
      height: 200px;
       overflow-x: hidden;
  }
  .display-list-event{
  margin-bottom :10px;
  }
  
  .scroll-y-listt::-webkit-scrollbar{
    display: none;
  }
  .scroll-y-listt::-webkit-scrollbar {
      width: 0px; 
      background: transparent;  
  }
  
  .scroll-y-listt::-webkit-scrollbar-thumb {
      background: #FF0000;
  }
  
  .check-box-1{
      border: 1px solid #C1C8CC;
      border-top:none ;
      height: 80px ;
      padding-top : 20px;
       box-shadow: 0 0 3px #00000051;
  }
  .clock-image{
      height: 20px;
       margin: 0;
  
  }
  .setting-img{
   height: 20px;
   margin: 0;
  
  }
  
  .row-allimages{
   border: 1px solid #C1C8CC;
     box-shadow: 0 0 3px #00000051;
  }   
  
  .checkbox-labelevent{
        margin-left: 17px;
  
  }
  .checkbox-tick{
     margin-left: 17px;
  }
  
  .form-control.Text-inout-conrol{
       border-radius: 16px 16px 16px 16px;
  }
  
  .add-img{
   height: 30px;
   background: #C1C8CC;
      border-radius: 50%;
      padding: 7px;
  } 
  .search-img{
   height: 30px;
   background: #23B1A9;
      padding: 6px;
      border-radius: 50%;
  }
  
  
  .event-input-text{
      width: 80%;
  }
  .event-search-text{
      margin-left: 15px;
  
  }
  .event-add-text{
      margin-left: 10px;
  
  } */
  
  
  
  
   /*  footer event start */
/*   
  .event-opport-footer{
      border: 1px solid #C1C8CC;
      border-left:none;
          padding: 9px;
  
  }
  .event-footer{
    border: 1px solid #C1C8CC;
        padding: 9px;
  
  }
  .event-footer-settings{
      padding: 9px;
    border: 1px solid #C1C8CC;
  }
  .opertunies-text{
  text-align: center;
  margin-top: 10px ;
   color: #A9AFB3;
  } */
   /* footer event end */